#avatar {
    border-radius: 10px;
    height: 8rem;
    width: 8rem;
    margin-bottom: 3%;
    background-image: url(../images/IMG_2216.jpg);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}

p {
    line-height: 1.25;
    margin-bottom: 3%;
    font-size: 12px;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.icons img {
    max-height: 2.5rem;
    padding: 1.5%;
}