.avatar {
    height: 8rem;
    width: 8rem;
    margin: 2%;
    margin-bottom: 4%;
}

.about-section {
    background-color: #eeeeee;
    border-radius: 10px;
}

p {
    line-height: 1.25;
    padding: 3%;
    font-size: 1.1rem;
    font-weight: 650;
    color: black;
}

p:hover {
    cursor: default;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.icons img {
    max-width: 10%;
    margin: 2%;
    margin-inline: 4%;
}