.form {
  margin-inline: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

textarea {
  width: 100%;
  border-radius: 2.5px;
}

.error-text {
  margin-left: 20px;
}

button {
  background-color: rgb(79, 77, 77);
  border-radius: 50px;
  color: #ebebeb;
  border-style: none;
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Pixels';
}