footer {
    background-image: url(../images/cool-background1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer a {
    display: flex;
    justify-content: center;
    margin-inline: 20px;
}

footer a img {
    max-height: 50px;
}

footer a img:hover {
    cursor: pointer;
}