footer {
    background-image: url(../images/aurora-1197753_1280.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer a {
    display: flex;
    justify-content: center;
    padding: 1%;
}

footer a img {
    max-height: 2rem;
}

footer a img:hover {
    cursor: pointer;
}