header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/aurora-1197753_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 100px;
}

h1 {
    color: #DBF4A7;
    margin-inline: 2.5%;
    white-space: nowrap;
}

.content {
    margin-top: 2%;
    margin-inline: 5%;
    margin-bottom: 2%;
    min-height: 100vh;
}