header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ebebeb;
    height: 100px;
    border-bottom: #ff5600;
    border-bottom-style: solid;
    border-bottom-width: 8px;
}

h1 {
    color: black;
    margin-inline: 2.5%;
    white-space: nowrap;
    font-weight: 850;
}

.content {
    margin-top: 2%;
    margin-inline: 5%;
    margin-bottom: 2%;
    min-height: 100vh;
}