.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    margin-left: 30px;
    margin-right: 18px;
}

.nav li {
    list-style: none;
    margin-inline: 10px;
}

.nav a {
    text-decoration: none;
    color: #DBF4A7;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}

.nav a:hover {
    color: rgb(0 255 122);
}