.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    margin-left: 30px;
    margin-right: 18px;
}

.nav li {
    list-style: none;
    margin-inline: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 850;
    white-space: nowrap;
}

.nav a:hover {
    color: #ff3b00;
}

.nav a.active, .nav a.clicked {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(91, 91, 91);
    color: #ff3b00;
}  


/************ media queries ************/
@media screen and (max-width: 455px) {
    .nav a {
        font-size: 12.5px;
    }
}