.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav li {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #DBF4A7;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
}

.nav a:hover {
    color: rgb(0 255 122);
}