.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
    width: 300px;
}

.project-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 55px;
}

h3 {
    padding: 2%;
    white-space: nowrap;
    color: black;
}

.github-link img {
    max-height: 3rem;
}

.github-link img:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 50%);
    border-radius: 50%;
}

.screenshot-link1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
    background-image: url(../images/screenshots/Screenshot\ 2023-01-17\ at\ 8.17.17\ PM.png);
    background-size: cover;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.screenshot-link2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
    background-image: url(../images/screenshots/Screenshot\ 2023-02-18\ at\ 7.29.19\ PM.png);
    background-size: cover;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.screenshot-link3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
    background-image: url(../images/screenshots/Screenshot\ 2023-02-12\ at\ 10.06.05\ PM.png);
    background-size: cover;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.screenshot-link4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
    background-image: url(../images/screenshots/Screenshot\ 2023-03-29\ at\ 3.18.18\ PM.png);
    background-size: cover;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.screenshot-link5 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
    background-image: url(../images/screenshots/Screenshot.png);
    background-size: cover;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.screenshot-link6 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
    background-image: url(../images/screenshots/plant-petaler.png);
    background-size: cover;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/************ card summary section ************/
.card-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 80%;
    background: rgb(89 89 89 / 78%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom-left-radius: 10px;
}

.card-summary p {
    line-height: 1;
    padding: 2%;
    color: #ffffff;
    font-size: 12px;
    margin: 4px;
}

.project-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px;
}

.project-icons img  {
    max-height: 1.4rem;
}