.resume {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
    display: flex;
    height: 364px;
    width: 300px;
    background-image: url(../images/screenshots/resume-screenshot.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 2%;
}

.resume:hover {
    transform: scale(1.07);
}

@media (hover: none) {
    .resume:hover {
      transform: none;
    }
}