.resume {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: flex;
    height: 255px;
    width: 200px;
    background-image: url(../images/screenshots/resume-screenshot.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.resume:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 75%);
}