:root {
    --firey: rgb(17 17 17);
    --bright: rgb(148, 216, 169);
    --card-header: rgb(205 231 186);
}

* {
    margin: 0;
}

html {
    background-image: url(./images/iStock-1058181722.avif);
    background-size: cover;
}

h2 {
    padding: 10px;
    color: rgb(175 255 0);
    font-weight: 850;
}

textarea {
    resize: none;
}