:root {
    --firey: rgb(17 17 17);
    --bright: rgb(148, 216, 169);
    --card-header: rgb(205 231 186);
}

* {
    margin: 0;
}

html {
    background-image: url(./images/iStock-1058181722.avif);
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    padding: 10px;
    color: rgb(240 220 78);
    font-family: 'Pixels';
}

h2:hover {
    cursor: default;
}

textarea {
    resize: none;
}